@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400;500;600;700&display=swap');

* {
    background-color: transparent;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    font-size: 0.9rem;
    position: fixed;
    width: 100vw;
}

.nav-logo {
    background-image: url(img/logo/logo-white.png);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2vw;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

li {
    text-decoration: none;
}

li:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    animation: fadeIn 1.5s alternate;
}

@keyframes fadeIn {
    0% {
        text-underline-offset: 2px;
    }
}

a {
    text-decoration: none;
}

.nav-options {
    margin-right: 2vw;
}

.header {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: end;
    background-image: url(img/bg/bg_page_info.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header > .header-text {
    margin-left: 15%;
    margin-bottom: 5%;
}

.header > .header-text > h1 {
    font-size: 5rem;
}

.header > .header-text > p {
    margin-top: 2%;
    font-size: medium;
}